a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
      i.fa.fa-times
    li.sidebar-brand
      a(href='#top', onclick='$("#menu-close").click();') #DKM
    li
      a(href='/', onclick='$("#menu-close").click();') Home
    li
      a(href='#about', onclick='$("#menu-close").click();') About
    li
      a(href='#services', onclick='$("#menu-close").click();') Services
    li
      a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
    li
      a(href='/login', onclick='$("#menu-close").click();') Backstretch