extends particulars/layout.pug
block pagecontent
    .row
        .col-md-12
        .error-template
            .error-number 404
            h2 PAGE NOT FOUND
            .error-actions
            a.btn.btn-primary.btn-sm(href='/')
                span.glyphicon.glyphicon-home
                |  Take Me Home