extends particulars/layout.pug
block pagecontent
		.full-screem-wrap
			.container
				.row
					.col-sm-4
						h3 Sign in
						form(role='form', action='/login', method='post')
							.form-group
								label Email
								input.form-control(type='email', placeholder='Email', name='usrEml')
							.form-group
								label Password
								input.form-control(type='password', placeholder='Password', name='usrPsw')
							div
								button.btn.btn-sm.btn-primary.pull-right(type='submit')
									strong Log in