extends layout.pug
block pagecontent
		.full-screem-wrap
			.container
				.row
					.col-sm-6
						h3 Sign in
						form(role='form', action='/logindemo', method='post')
							.form-group
								label User Name
								input.form-control(type='text', placeholder='Username', name='username')
							.form-group
								label Password
								input.form-control(type='password', placeholder='Password', name='password')
							div
								button.btn.btn-sm.btn-primary.pull-right(type='submit')
									strong Log in