extends particulars/layout.pug
block stylesheetFiles
    link(href='css/sys_001.css', rel='stylesheet')
block pagecontent
    .container(style='padding-top: 20px;')
      .row
        .col-sm-4
          .panel.panel-primary
            .panel-heading Details
            .panel-body  
              form.form-horizontal(role='form')
                .form-group
                  label.col-sm-3.control-label Name
                  .col-sm-9
                    input.form-control(type='text', name='txtUsrNm',autocomplete='off')
                .form-group
                  label.col-sm-3.control-label Email
                  .col-sm-9
                    input.form-control(type='email', name='txtEmail',autocomplete='off', value='@gmail.com')
                .form-group
                  label.col-sm-3.control-label Password
                  .col-sm-9
                    input.form-control(type='password', name='txtPsw',autocomplete='off')
                .form-group
                  label.col-sm-3
                  .col-sm-9
                    //button.btn.btn-sm.btn-info(onclick='btnNew()')
                    //  strong New
                    button.btn.btn-success(onclick='onClickBtnSave()',type='button',id='btnSave')
                      strong Save
                    button.btn.btn-warning(onclick='onClickBtnCancelUpdate()',type='button', style='margin-left: 3px;visibility: hidden;',id='btnCancel')
                      strong Cancel
        .col-sm-8
          .panel.panel-primary
            .panel-heading Users List
            .panel-body         
              table.table.table-hover#table-user
                tr
                  th(style='width: 10px') #
                  th Name
                  th Email
                  th(style='width: 100px') Action
                each user in users
                    tr(id= 'local' + user.usrEml)
                      td.tbl-content-col.count 
                      td.tbl-content-col #{user.usrNm}
                      td.tbl-content-col #{user.usrEml}
                      td(att-name= user.usrNm, att-email= user.usrEml, att-pass= user.usrPsw)
                        button.btn.btn-primary(type='button', onclick='btnEdit(this)')
                          i.fa.fa-pencil
                        button.btn.btn-danger(type='button', onclick='btnDelete(this)',style='margin-left: 3px;')
                          i.fa.fa-times
           
block ScriptFiles
    script(src='js/sys_001.js')
